/* MAILCHIMP SIGN-UP FORM
============================================================*/

#mc_embed_signup form {
  box-sizing: border-box;
  position: relative;
  margin:0 auto;
  padding: 0;
  height: auto;
  overflow: auto;
  width: 100%;
}

#mc_embed_signup form p {
  color: rgb(255,255,255);
}

#mc_embed_signup input {
  -webkit-appearance: none;
  width: 100%;
  max-width: 400px;
  height: 48px;
  margin:0 auto;
  margin-bottom: 16px;
  padding: 14px;
  position: relative;
  float: left;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 300;
  vertical-align: middle;
  text-decoration: none;
  color: rgb(255,255,255);
  outline: none;
  background: none;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(255,255,255);
  float: none;
  text-align: center;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: rgba(255,255,255,0.5);
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgba(255,255,255,0.5);
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba(255,255,255,0.5);
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgba(255,255,255,0.5) !important;
}

.clear {
  width: 100%;
  height: auto;
  overflow: auto;
  text-align: center;
}

#mc_embed_signup .button {
  width: auto;
  height: auto;
  margin: 20px auto;
  padding: 8px 18px;
  background: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  color: rgb(255,255,255);
  border: 2px solid rgb(204,255,0);
  cursor: pointer;
  display: inline-block;
}

#mc_embed_signup .button:hover {
  color: rgb(26,102,216);
  background: rgb(204,255,0);
  border: 2px solid rgb(204,255,0);
}

/* MEDIA QUERY - 490PX
============================================================*/

@media (max-width:490px){

  #mc_embed_signup input {
    margin-bottom: 10px;
  }

}