/* MAILCHIMP SIGN-UP FORM
============================================================*/

#mc_embed_signup form {
  position: relative;
  text-align: center;
  /* width: 680px; */
  margin:0 auto;
  height: auto;
  overflow: hidden;
}

footer #mc_embed_signup form {
  margin-bottom: 20px;
}

#mc_embed_signup input {
  -webkit-appearance: none;
  position: relative;
  margin:0;
  margin-bottom: 20px;
  padding-bottom: 8px;
  width: 400px;
  height: 22px;
  border: 0 none;
  border-bottom: 3px solid rgb(179,179,179);
  font-family: "Roboto", sans-serif;
  color: rgb(102,102,102); 
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  outline: none;
  background: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: rgb(153,153,153);
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgb(153,153,153);
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgb(153,153,153);
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgb(153,153,153) !important;
}

#mc_embed_signup .button {
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  text-align: center;
  text-decoration: none;
  vertical-align: center;
  line-height: 22px;
  margin-top: 8px;
  padding: 0;
  background: none;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: 400;
  outline: none;
  cursor: pointer;
  color: rgb(26,102,216);
  border: none;
}

/* MEDIA QUERY - 625PX
============================================================*/

@media (max-width:625px){

  #mc_embed_signup input {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    border-bottom-width: 2px;
  }

  #mc_embed_signup .button {
    line-height: 26px;
    font-size: 16px;
  }

}

/* MEDIA QUERY - 490PX
============================================================*/

@media (max-width:490px){

  footer #mc_embed_signup .button {
    width: 286px;
  }

  footer #mc_embed_signup input {
    width: 286px;
  }

  #mc_embed_signup input {
    margin-bottom: 10px;
  }

}