/* MAILCHIMP SIGN-UP FORM
============================================================*/

#mc_embed_signup form {
  box-sizing: border-box;
  position: relative;
  margin:0 auto;
  padding: 32px;
  height: auto;
  overflow: auto;
  width: 100%;
}

.footer #mc_embed_signup form {
  padding: 0;
}

#mc_embed_signup input {
  -webkit-appearance: none;
  width: 100%;
  max-width: 400px;
  height: 48px;
  margin:0 auto;
  margin-bottom: 16px;
  padding: 14px;
  position: relative;
  float: left;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 300;
  vertical-align: middle;
  text-decoration: none;
  color: rgb(102,102,102); 
  outline: none;
  background: rgb(255,255,255);
  box-sizing: border-box;
  border: 1px solid rgb(210,210,210);
  float: none;
  text-align: center;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: rgb(153,153,153);
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgb(153,153,153);
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgb(153,153,153);
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgb(153,153,153) !important;
}

.footer #mc_embed_signup input {
  color: rgb(255,255,255);
  background: none;
  border: none;
  border-bottom: 2px solid rgb(255,255,255);
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: rgb(255,255,255);
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgb(255,255,255);
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgb(255,255,255);
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgb(255,255,255) !important;
}

.clear {
  width: 100%;
  height: auto;
  overflow: auto;
  text-align: center;
}

#mc_embed_signup .button {
  width: auto;
  height: auto;
  margin: 20px auto;
  padding: 8px 18px;
  background: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  color: rgb(26,102,216);
  border: 2px solid rgb(26,102,216);
  cursor: pointer;
  display: inline-block;
}

#mc_embed_signup .button:hover {
  background-color: rgb(26,102,216);
  color: rgb(255,255,255);
}

#mc_embed_signup .button:active {
  background-color: rgb(23,92,194);
  border-color: rgb(23,92,194);
}

.footer #mc_embed_signup .button {
  background: none;
  border: 2px solid rgb(212,235,11);
}

.footer #mc_embed_signup .button:hover {
  background-color: rgb(212,235,11);
  color: rgb(39,70,99);
}

/* MEDIA QUERY - 625PX
============================================================*/

@media (max-width:625px){

  #mc_embed_signup input {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
  }

  #mc_embed_signup .button {
    line-height: 26px;
    font-size: 16px;
    width: 100%;
  }

}

/* MEDIA QUERY - 490PX
============================================================*/

@media (max-width:490px){

  footer #mc_embed_signup .button {
    width: 286px;
  }

  footer #mc_embed_signup input {
    width: 286px;
  }

  #mc_embed_signup input {
    margin-bottom: 10px;
  }

}