/*
CSS DOCUMENT - JOLTSENSOR.COM
============================================================*/

* {
  margin: 0;
  padding: 0;
}

html, body { 
  height: 100%; 
}

body {
  background-color: rgb(249,249,249);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  text-align: justify;
  color: rgb(150,150,150);
}

h1, h2 {
  font-weight: 400;
  color: rgb(63,124,215);
}

h1 {  
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  font-size: 23px;
  margin-bottom: 20px;
}

p, li {
  font-family:'Lora', serif;
  font-size:20px;
  font-weight:400;
  line-height:35px;
  margin: 20px 0;
}

ul, li {
  list-style-position: inside;
  margin: 20px 0;
}

ul li, ol li {
  margin: 0;
}

img {
  width: 100%;  
}

blockquote {
    border-left: 5px solid rgb(0,125,189);
    padding: 0 0 0 30px;
    text-align: justify;
    font-style: italic;
    line-height: 25px;
  }

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

a {
  color: rgb(63,124,215);
  text-decoration: none;
  border-bottom: none;
}

a:hover {
  border-bottom: 1px dotted rgb(63,124,215);
}

button {
  margin-top: 20px;
  padding: 14px 20px;
  background: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.nobottom, .screen .nobottom, .hero .nobottom {
  margin-bottom: 0;
}

/* WRAPPER
============================================================*/

.wrapper{
  width: 100%;
  height: auto;
  overflow: auto;
  margin-top: 72px;
}

/* HEADER
============================================================*/

header {
  width: 100%;
  position: fixed;
  top: 0px;
  background: rgb(255,255,255);
  border-bottom: 2px solid rgb(242,242,242);
  z-index: 999;
}

header .container {
  width: 90%;
  max-width: 1200px;
  height: auto;
  overflow: auto;
  margin: 0 auto;
  padding: 0;
  position: relative;
  line-height: 30px;
}

/* NAVIGATION
============================================================*/

nav {
  color: rgb(179,179,179);
  height: 30px;
  padding: 20px 0;
}

nav a {
  color: rgb(179,179,179);
  text-decoration: none;
  border-bottom: none;
}

nav a:hover {
  color: rgb(63,124,215);
  border-bottom: none;
}

nav a.active {
  color: rgb(63,124,215);
}

nav li, footer li {
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 14px;
  vertical-align: middle;
}

nav img {
  width: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -6px;
}

nav.left {
  float: left;
}

nav.left li {
  margin: -4px 7px 0 0;
  font-size: 20px;
}

nav.left:hover {
  color: rgb(63,124,215);
}

nav.right {
  float: right;
}

nav.right li {
  margin: -2px 0 0 7px;
  font-size: 14px;
  line-height: 28px;
}

/* HERO
============================================================*/

.hero {
  width: 100%;
  height: auto;
  overflow: auto;
  position: relative;
  padding: 150px 0;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.empty.hero {
  padding: 0;
}

.hero img {
  width: 60px;
  margin-bottom: 20px;
}

.hero h1, .hero h2 {
  color: rgb(255,255,255);
  width: 90%;
  max-width: 500px;
}

.hero h1 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 24px;
  font-weight: 200;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero button{
  color: rgb(255,255,255);
  border: 1px solid rgb(255,255,255);
}

.hero.shell {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.screen {
  width: 100%;
  height: 100%;
  padding: 150px 0;
  background-color: rgba(63,124,215,0.75);
  display: block;
}

.screen a {
  color: rgb(255,255,255);
}

.screen a:hover {
  border-bottom: 1px dotted rgb(255,255,255);
}

.blog.screen {
  padding: 200px 0;
}

/* HIDDEN HERO CONTACT FORM
============================================================*/

.hero.hidden {
  min-height: 500px;
  display: block;
  position: absolute;
  top:-800px;
  background: rgb(255,255,255);
}

.hero.hidden h2 {
  color: rgb(150,150,150);
}

.hero.hidden button {
  font-size: 20px;
  font-weight: 300;
  color: rgb(63,124,215);
  border: 1px solid rgb(63,124,215); 
}

#hide_form{
  font-size: 16px;
  color: rgb(179,179,179);
  border-bottom: 1px dotted rgb(179,179,179);
  cursor: pointer;
}

/* AFFILIATE LOGO SECTION
============================================================*/

.logo.section {
  width: 100%;
  max-width: none;
  padding: 30px 0;
  background: rgb(235,235,235);
  text-align: center;
}

.logo.section a, .logo .section a:hover {
  border-bottom: none;
}

.vms, .mass, .arch {
  background-size: cover;
  background-position: right;
  height: 30px;
  margin: 0 20px;
  display: inline-block;
}

.vms:hover, .mass:hover, .arch:hover {
  background-position: right;
}

.vms {
  width: 114px;
  background-image: url('/assets/logo_vms.png');
}

.mass {
  width: 152px;
  background-image: url('/assets/logo_mass.png');
}

.arch {
  width: 83px;
  background-image: url('/assets/logo_arch.png');
}

/* CONTENT SECTION
============================================================*/

.section {
  width: 90%;
  max-width: 800px;
  height: auto;
  overflow: auto;
  position: relative;
  margin: 0 auto;
  padding: 50px 0;
}

img.icon {
  width: 60px;
}

img.illustration {
  width: 200px;
  display: inline-block;
  text-align: center;
  margin-bottom: 5px;
}

.section button {
  display: block;
  color: rgb(63,124,215);
  border: 1px solid rgb(63,124,215);
  font-size: 14px;
  margin: 0 auto;
  margin-top: 10px;
}

.tile {
  width: 100%;
  margin: 30px auto;
}

.pane {
  width: 33%;
  margin: 0 auto;
  float: left;
  text-align: center;
  margin-bottom: 10px;
}

/* CODE FORMATTING
============================================================*/

code, pre {
  font-family: 'Source Code Pro';
  font-size: 18px;
  border: 1px solid rgb(220,220,220);
  border-radius: 3px;
  background: rgb(242,242,242);
  margin: 1px;
  padding: 1px;
}

pre {
  padding: 10px;
  overflow: auto;
}

pre code {
  border: none;
  border-radius: 0;
  background: none;
  margin: 0;
  padding: 0;
}

/* HEADSHOTS & DETAILS
============================================================*/

img.headshot {
  width: 104px;
  margin-right: 20px;
  border-radius: 52px;
  display: block;
  float: left;
}

.team.tile {
  width: 50%;
  display: block;
  float: left;
}

.team.tile h1, .team.tile p {
  margin: 0;
}

.team.tile h2 {
  margin: 0 0 5px 0;
}

.team.tile p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.team.tile p a {
  border-bottom: 1px dotted rgb(63,124,215);
}

/* PRESS ITEMS
============================================================*/

.press {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 1px solid rgb(229,229,229);
}

.press p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  text-align: left;
  margin: 0;
}

.press p.info {
  margin-bottom: 0;
  color: rgb(179,179,179);
  font-size: 16px;
}

.press p.title {
  margin-top: 5px;
  line-height: 28px;
}

/* AUTHOR DETAILS
============================================================*/

.author.tile {
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  margin-bottom: 0;
  float: none;
  text-align: center;
  color: rgb(150,150,150);
  border-top: 1px solid rgb(229,229,229);
}

.author.tile li {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.author img.headshot {
  width: 40px;
  border-radius: 20px;
  display: inline-block;
  margin: 0;
}

/* SOCIAL SECTION
============================================================*/

.social.section {
  text-align: center;
}

.social.section h1 {
  margin: 0;
  margin-top: 30px;
}

.social.section p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  margin: 0;
}

/* FOOTER
============================================================*/

footer {
  width: 100%;
  height: auto;
  overflow: auto;
  position: relative;
  padding: 30px 0;
  background: rgb(235,235,235);
  color: rgb(150,150,150);
  font-size: 12px;
  text-align: center;
}

footer .container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  line-height: 30px;
}

footer li {
  margin: 10px 3px;
  font-size: 12px;
  color: rgb(150,150,150);
}

footer img.icon {
  width: 30px;
}

footer h2{
  margin-bottom: 0;
  font-size: 18px;
  line-height: 20px;
  color: rgb(150,150,150);
  font-weight: 200;
}

footer li a {
  color: rgb(63,124,215);
  text-decoration: none;
}

footer li a:hover {
  border-bottom: 1px dotted rgb(63,124,215);
}

footer p {
  margin: 0px;
  color: rgb(150,150,150);
  line-height: 20px;
  text-align: center;
}

footer p a {
  color: rgb(63,124,215);
  text-decoration: none;
  border-bottom: none;
  border-bottom: 1px dotted rgb(63,124,215);
}

footer p a:hover {
  border-bottom: 1px dotted rgb(63,124,215);
}

/* MEDIA QUERY - 900PX
============================================================*/

@media (max-width:900px){

  .tile {
    width: 100%;
    margin: 20px auto;
    padding: 0;
  }

}

/* MEDIA QUERY - 740PX
============================================================*/

@media (max-width:740px){

  .pane {
    width: 100%;
  }

}

/* MEDIA QUERY - 700PX
============================================================*/

@media (max-width:700px){

  .team.tile {
    width: 100%;
  }

}

/* MEDIA QUERY - 625PX
============================================================*/

@media (max-width:625px){

  h1 {  
    font-size: 26px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 21px;
    margin-bottom: 20px;
  }

  .hero h1 {
    font-size: 34px;
    margin-bottom: 20px;
  }

  .hero h2 {
    font-size: 22px;
    margin-bottom: 30px;
  }

  p, li {
    font-size:18px;
    line-height:30px;
    margin: 20px 0;
  }

  .press p.title {
    margin: 0;
  }

  ul, li {
    margin: 20px 0;
  }

  ul li, ol li {
    margin: 0;
  }

  blockquote {
    padding: 0 0 0 30px;
    line-height: 25px;
  }

  .screen, .blog.screen, .hero {
    padding: 50px 0;
  }

}

/* MEDIA QUERY - 490PX
============================================================*/

@media (max-width:490px){

  nav.right li {
    margin-left: 5px;
  }

  footer li {
    margin: 10px 2px;
    font-size: 12px;
    color: rgb(255,255,255);
  }

  .section {
    padding: 30px 0;
  }

  .vms, .mass, .arch {
    margin: 0 auto;
    display: block;
  }

  .mass {
    margin: 20px auto;
  }

}

/* MEDIA QUERY - 400PX
============================================================*/

@media (max-width:380px){

  .author.tile {
    padding: 30px 0 0 0;
  }

  .author.tile li {
    margin: 0;
  }

}