/*
CSS DOCUMENT - JOLTSENSOR.COM
============================================================*/

* {
  margin: 0;
  padding: 0;
}

html, body { 
  height: 100%; 
}

body {
  background-color: rgb(255,255,255);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  color: rgb(102,102,102);
}

/* HEADERS
============================================================*/

h1, h2, h3, h4 {
  color: rgb(26,102,216);
  font-weight: 300;
  line-height: 130%;
}

h1 {  
  font-size: 40px;
  margin: 24px 0 16px 0;
}

h2 {
  font-size: 32px;
  margin: 24px 0 16px 0;
}

h3 {
  font-size: 24px;
  margin: 24px 0 16px 0;
}

h4 {
  font-size: 20px;
  margin: 24px 0 16px 0;
}

h1.dark, h2.dark, h3.dark, h4.dark {
  color: rgb(102,102,102);
}

.heavy {
  font-weight: 900;
}

/* OTHER TEXT/CONTENT
============================================================*/

p, li {
  font-size:17px;
  font-weight:300;
  line-height: 150%;
  margin: 16px 0px 16px 0px;
}

ul, li {
  list-style-position: inside;
}

ul {
  margin: 20px 0;
}

ul ul {
  margin: 0 20px;
}

ul.inline li {
  display: inline-block;
  padding: 0 8px;
}

ul li, ol li {
  margin: 0;
}

p img {
  margin: 16px 0px;
  width: 100%;
}

blockquote {
  border-left: 3px solid rgba(63,124,215,0.75);
  margin: 0 25px;
  padding: 0 0 0 30px;
  text-align: justify;
  font-style: italic;
  line-height: 25px;
}

blockquote p {
  margin: 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

a {
  color: rgb(26,102,216);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  text-decoration: none;
}

/* BUTTONS
============================================================*/

button {
  margin: 16px 0;
  padding: 12px 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: none;
  color: rgb(255,255,255);
  background-color: rgb(26,102,216);
}

button:hover {
  border-bottom: 4px solid rgb(21,82,173);
  margin-bottom: 12px;
}

button.cta {
  color: rgb(26,102,216);
  background-color: rgb(204,255,0);
  border: none;
  border-radius: 12px;
  font-size: 24px;
  padding: 20px 32px;
  font-weight: 300;
}

button.cta:hover {
  border-bottom: 4px solid rgb(168,224,43);
  margin-bottom: 12px;
}

.section button.cta {

}

button.shop {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 6px 12px;
  color: rgb(26,102,216);
  border: none;
  background-color: rgb(204,255,0);
  border-radius: 6px;
}

button.shop:hover {
  border-bottom: 2px solid rgb(168,224,43);
  margin-bottom: -2px;
}

/* WRAPPER
============================================================*/

#wrapper {
  z-index: 2;
  position: relative;
  background-color: rgb(255,255,255);
  top: 70px;
}

/* HEADER/FOOTER
============================================================*/

#header,
#footer {
  width: 90%;
  padding: 20px 5%;
  font-size: 14px;
}

#header {
  height: 30px;
  top: 0;
  position: fixed;
  z-index: 8;
  background-color: rgb(26,102,216);
  color: rgb(255,255,255);
}

#footer {
  height: auto;
  overflow: auto;
  background-color: rgb(26,102,216);
  color: rgb(70,70,70);
}

#header .wrapper,
#footer .wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

#footer nav li {
  margin: 0 4px;
}

/* NAVIGATION ELEMENTS
============================================================*/

nav {
  color: rgb(255,255,255);
  height: 30px;
  font-weight: 300;
}

#footer nav {
  height: auto;
  overflow: auto;
}

#header nav.menuburger {
  padding-right: 20px;
  opacity: 50%;
}

nav a {
  color: rgb(255,255,255);
  text-decoration: none;
  border-bottom: none;
}

nav a:hover {
  color: rgb(212,235,11);
  text-decoration: none;
  border-bottom: none;
}

nav li, footer li {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  line-height: 30px;
}

nav img {
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
}

/* NAV LEFT
============================================================*/

nav.left {
  float: left;
}

nav.left li {
  margin: 0;
  font-size: 14px;
}

nav.left a:hover {
  text-decoration: none;
}

/* NAV RIGHT
============================================================*/

nav.right {
  float: right;
}

nav.right a {
  opacity: 1.0;
}

nav.right li {
  margin: 0 0 0 16px;
  font-size: 14px;
}

nav.right a:hover {
  opacity: 1.0;
  text-decoration: none;
}

nav.right a.active {
  opacity: 1.0;
  text-decoration: none;
}

/* HEADER/FOOTER SOCIAL BUTTONS
============================================================*/

.facebook, .twitter, .instagram, .rss, .email {
  width: 24px;
  height: 24px;
  margin: 3px 8px;
  background-size: cover;
  background-position: left;
  display: inline-block;
}

.facebook {
  background-image: url('/assets/icons/social/facebook-white.svg');
}

.twitter {
  background-image: url('/assets/icons/social/twitter-white.svg');
}

.instagram {
  background-image: url('/assets/icons/social/instagram-white.svg');
}

.rss {
  background-image: url('/assets/icons/social/rss-white.svg');
}

.email {
  background-image: url('/assets/icons/general/email-white.svg');
}

.facebook:hover,
.twitter:hover,
.instagram:hover,
.rss:hover,
.email:hover {
  background-position: right;
}

.share {
  height: 30px;
  display: inline-block;
  padding: 13px 8px;
  margin: 0 8px;
  background-color: rgb(21,82,173);
  border-radius: 100px;
}

.share:hover .facebook,
.share:hover .twitter,
.share:hover .rss,
.share:hover .email {
  background-position: right;
}

/* MENU
============================================================*/

.exit {
  visibility: hidden;
}

#menu {
  z-index:9;
  width: 280px;
  padding: 0;
  background-color: rgb(13,51,108);
  position: fixed;
  top: 0px;
  right: 0px;
  visibility: hidden;
  height: 100%;
  overflow: auto;
}

#menu ul {
  display: block;
  list-style-type: none;
  list-style-image: none;
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
}

#menu li {
  padding-bottom: 8px;
  width: 100%;
  display: block;
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;
}

#menu li img {
  margin-top: 2px;
  float: right;
}

#menu li:hover a {
  color: rgb(204,255,0);
}

#menu a { 
  color: rgb(255,255,255);
  text-decoration: none;
  margin: 0;
  padding: 0;
  height: auto;
  overflow: auto;
}

#menu a:hover {
  color: rgb(204,255,0);
  text-decoration: none;
}

.hamburger,
.exit {
  cursor: pointer;
}

/* HERO
============================================================*/

#hero {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
}

#hero .content {
  opacity: 0;
  max-width: 1000px;
}

#hero a {
  color: rgb(212,235,11);
}

.screen {
  width: 100%;
  height: 100%;
  background-color: rgba(26,102,216,0.85);
  z-index: 1;
  position: absolute;
  color: rgb(255,255,255);
}

.screen.blank {
  background-color: rgba(0,0,0,0);
}

.screen.dark {
  background-color: rgba(100,100,110,0.8);
}

.screen.dark button.cta {
  color: rgb(100,100,110);
}

.blue {
  background-color: rgba(26,102,216,1);
  color: rgb(255,255,255);
}

.screen h1,
.screen h2,
.screen h3,
.screen h4,
.screen a {
	color: rgb(255,255,255);
  margin: 0;
}

.screen a:hover {
  color: rgb(204,255,0);
  text-decoration: none;
}

.content {
  width: 90%;
  max-width: 1000px;
  height: auto;
  overflow: auto;
  margin: 0 auto;
  padding: 0 5%;
}

/* CONTENT SECTIONS
============================================================*/

.section {
  width: 100%;
  height: auto;
  overflow: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section.hero {
  height: 500px;
}

.section.dark {
  background-color: rgb(240,240,240);
}

.section.darker {
  background-color: rgb(180,180,190);
}

.section.footer {
  background-color: rgb(170,170,170);
  color: rgb(255,255,255);
}

.blue h1,
.blue h2,
.blue h3,
.blue h4,
.blue a {
	color: rgb(255,255,255);
}

.blue a:hover {
  color: rgb(204,255,0);
}

.section .content {
  padding: 48px 5%;
}

.section .screen {
  position: relative;
}

/* ROWS & COLUMNS
============================================================*/

.row {
  height: auto;
  width: auto;
  overflow: auto;
  margin: 0;
  padding: 0;
  display: block;
}

.col-2,
.col-3,
.col-4,
.col-6,
.col-12 {
  box-sizing: border-box;
  padding: 20px;
  display: block;
  float: left;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.row .col-4:nth-of-type(1) {
  padding-left: 0;
}

.row .col-4:nth-of-type(3) {
  padding-right: 0;
}

.col-6 {
  width: 50%;
}

.row .col-6:nth-of-type(odd) {
  padding-left: 0;
}

.row .col-6:nth-of-type(even) {
  padding-right: 0;
}

.col-12 {
	width: 100%;
  padding: 10px 0;
  margin: 0 auto;
}

/* ICONS
============================================================*/

img.icon {
  margin: 0;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

img.icon.huge {
  width: 96px;
  height: 96px;
}

img.icon.large {
  width: 72px;
  height: 72px;
}

img.icon.medium {
  width: 48px;
  height: 48px;
}

img.icon.small {
  width: 24px;
  height: 24px;
}

img.icon.border {
  border-width: 2px;
}

.col-4.support:hover {
  cursor: pointer;
}

.col-4.support:hover {
  background-color: rgb(249,249,249);
  border-radius: 12px;
}

img.screenshot {
  width: 100%;
  max-width: 180px;
  border-radius: 50%;
  border: 1px solid rgb(204,204,204);
  box-sizing: border-box;
}

img#homerendering {
  width: 200px;
}

/* CROPPED IMAGES/ICONS
============================================================*/

img.circle {
  box-sizing: border-box;
  width: 100%;
  max-width: 240px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50%;
  display: block;
}

img.border {
  border: 1px solid rgb(204,204,204);
}

img.padded {
  padding:10px;
}

img.headshot {
	width: 60px;
	margin: 0 20px 20px 0;
	position: relative;
	float: left;
}

img.team {
	max-width: 160px;
}

img.circle.spec {
	box-sizing: border-box;
	width: 60px;
	margin: 10px auto;
	display: block;
}

img.press, img.partner {
  max-width: 120px;
}

img.press:hover {
	background-color: rgb(230,230,230);
}

/* BLOG STUFF
============================================================*/

.blog.card {
  width: 100%;
}

.blog.pic {
  height: 200px;
  width: 100%;
  padding-top: 20px;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.blog.featured {
  width: 100px;
  padding: 10px;
  font-weight: 900;
  text-align: center;
  background-color: rgb(26,102,216);
  color: rgb(255,255,255);
}

.blog.text {
  padding: 40px;
  background-color: rgb(255,255,255);
}

.article {
	max-width: 700px;
	margin: 0 auto;
}

.article p {
  font-weight: 300;
  text-align: justify;
}

/* CODE FORMATTING
============================================================*/

code, pre {
  font-family: 'Source Code Pro';
  font-size: 18px;
  border: 1px solid rgb(220,220,220);
  border-radius: 3px;
  background: rgb(242,242,242);
  margin: 1px;
  padding: 1px;
}

pre {
  padding: 10px;
  overflow: auto;
}

pre code {
  border: none;
  border-radius: 0;
  background: none;
  margin: 0;
  padding: 0;
}

/* STYLE & ALIGNMENT CLASSES
============================================================*/

.no-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

.no-top {
  margin-top: 0;
  padding-top: 0;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

/* MEDIA QUERY - 1006PX
============================================================*/

@media (max-width:1006px){

  

}

/* MEDIA QUERY - 980PX
============================================================*/

@media (max-width:980px){

  .col-2 {
    width: 33.33%;
  }

}

/* MEDIA QUERY - 750PX
============================================================*/

@media (max-width:750px){

  .col-3 {
    width: 50%;
  }

  .col-4 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .col-4.center-resize, .col-6.center-resize {
    text-align: center;
  }

  .col-6 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  img#homerendering {
    margin-top:-100px;
  }

  .center-resize h1, .center-resize h3 {
    margin: 0 auto;
  }

}

/* MEDIA QUERY - 625PX
============================================================*/

@media (max-width:625px){

  h1 {  
    font-size: 36px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  p, li {
    font-size:16px;
    line-height:26px;
    margin: 20px 0;
  }

  p img {
    margin: 0;
  }

  ul, li {
    margin: 20px 0;
  }

  ul li, ol li {
    margin: 0;
  }

  blockquote {
    padding: 0 0 0 30px;
    line-height: 25px;
  }

  #hero {
    height: 500px;
  }

  .section.contents {
    padding: 15px 5%;
  }

  #menu li {
    display: block;
  }

  #footer {
    height: auto;
    overflow: auto;
  }

  #footer nav {
    width: 100%;
    float: none;
    margin: 8px auto;
    text-align: center;
  }

}

/* MEDIA QUERY - 490PX
============================================================*/

@media (max-width:490px){

  .col-2 {
    width: 50%;
  }

  .col-3 {
    width: 100%;
    text-align: center;
  }

  #footer nav li {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .hidden {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
  }

  img#homerendering {
    width: 150px;
    margin-top:-40px;
  }

}