/*
CSS DOCUMENT - JOLTSENSOR.COM, UPDATED: 05.25.2014
============================================================*/

* {
  margin: 0;
  padding: 0;
}

html, body { 
  height: 100%; 
}

body {
  background-color: rgb(249,249,249);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  text-align: center;
}

h1, h2, h3, h4 {
  font-weight: 200;
}

h1 {  
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 24px;
}

.nobottom {
  margin-bottom: 0;
}

h3 {  
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 20px;
}

p {
  color: rgb(128,128,128);
  text-align: justify;
  margin: 20px 0;
}

a {}

a:hover   {}

a:visited {}

button {
  margin-top: 20px;
  padding: 14px 20px;
  background: none;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

/* WRAPPER
============================================================*/

.wrapper{
  width: 100%;
  height: auto;
  overflow: auto;
}

/* HEADER
============================================================*/

header {
  width: 100%;
  height: 30px;
  padding: 20px 0;
  background: rgb(255,255,255);
  line-height: 30px;
}

/* NAVIGATION
============================================================*/

nav {}

nav a {
  color: rgb(179,179,179);
  text-decoration: none;
}

nav a:hover {
  color: rgb(63,124,215);
}

nav a.active {
  color: rgb(63,124,215);
}

nav li, footer li {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  vertical-align: middle;
}

nav img {
  width: 30px;
  display: inline-block;
  vertical-align: middle;
}

nav.left {
  float: left;
  margin-left: 20px;
  color: rgb(179,179,179);
}

nav.left li {
  margin-right: 7px;
  font-size: 18px;
}

nav.left:hover {
  color: rgb(63,124,215);
}

nav.right {
  float: right;
  margin-right: 20px;
}

nav.right li {
  margin-left: 10px;
  font-size: 12px;
  color: rgb(179,179,179);
}

/* HERO
============================================================*/

.hero {
  width: 100%;
  height: auto;
  overflow: auto;
  position: relative;
  padding: 150px 0;
  background-size: cover;
  background-position: center;
}

.hero img {
  height:60px;
  margin-bottom: 20px;
}

.hero h1, .hero h2 {
  color: rgb(255,255,255);
}

.hero button{
  color: rgb(255,255,255);
  border: 1px solid rgb(255,255,255);
}

.hero.hidden button {
  color: rgb(63,124,215);
  border: 1px solid rgb(63,124,215); 
}

.hero.shell {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* HERO BACKGROUNDS
============================================================*/

.about.hero {
  background-image: url('/assets/hero_mit_1400.png');
}

.blog.hero {
  background-image: url('/assets/hero_desk_1400.png');
}

.careers.hero {
  background-image: url('/assets/hero_huddle_1400.png');
}

.contact.hero {
  background-image: url('/assets/hero_lights_1400.png');
}

.home.hero {
  background-image: url('/assets/hero_football_1400.png');
}

.news.hero {
  background-image: url('/assets/hero_hockey_1400.png');
}

/* HIDDEN HERO CONTACT FORM
============================================================*/

.hero.hidden {
  min-height: 500px;
  display: block;
  position: absolute;
  top:-800px;
  background: rgb(255,255,255);
}

.hero.hidden h2 {
  color: rgb(63,124,215);
}

#hide_form{
  font-size: 16px;
  color: rgb(179,179,179);
  border-bottom: 1px dotted rgb(179,179,179);
  cursor: pointer;
}

/* CONTENT SECTION
============================================================*/

.section {
  width: 80%;
  height: auto;
  overflow: auto;
  position: relative;
  margin: 0 auto;
  padding: 50px 0;
}

.section p a {
  color: rgb(63,124,215);
  text-decoration: none;
  border-bottom: 1px dotted rgb(63,124,215);
}

.section h3, .section h4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.section h3 {
  color: rgb(63,124,215);
}

.section h4 {
  color: rgb(128,128,128);
}

.section img.icon {
  width: 60px;
}

.section img.illustration {
  width: 200px;
}

.section button {
  color: rgb(63,124,215);
  border: 1px solid rgb(63,124,215);
  font-size: 14px;
  margin-top: 10px;
}

.tile {
  width: 27%;
  padding: 0 3%;
  float: left;
}

/* HEADSHOTS & DETAILS
============================================================*/

.team.tile h3 {
  font-size: 24px;
}

.team.tile h4 {
  margin-top: 0;
}

.team.tile p {
  margin-top: 5px;
}

img.headshot {
  width: 100px;
  border-radius: 50px;
}

/* PRESS ITEMS
============================================================*/

.press {
  max-width: 500px;
  margin: 0 auto;
}

.press p.info {
  margin-bottom: 0;
  color: rgb(179,179,179);
}

.press p.title {
  margin-top: 5px;
}

/* AFFILIATE LOGO SECTION
============================================================*/

.logo.section {
  width: 100%;
  padding: 30px 0;
  background: rgb(230,230,230);
}

.vms, .mass, .arch {
  background-size: cover;
  background-position: right;
  height: 30px;
  margin: 0 20px;
  display: inline-block;
}

.vms:hover, .mass:hover, .arch:hover {
  background-position: right;
}

.vms {
  width: 114px;
  background-image: url('/assets/logo_vms.png');
}

.mass {
  width: 152px;
  background-image: url('/assets/logo_mass.png');
}

.arch {
  width: 83px;
  background-image: url('/assets/logo_arch.png');
}

/* FOOTER
============================================================*/

footer {
  width: 100%;
  height: auto;
  overflow: auto;
  position: relative;
  padding: 30px 0;
  background: rgb(63,124,215);
  color: rgb(255,255,255);
  font-size: 12px;
}

footer li {
  margin: 10px 5px;
  font-size: 12px;
  color: rgb(255,255,255);
}

footer img {
  height: 30px;
}

footer h4{
  margin-bottom: 0;
}

footer li a {
  color: rgb(255,255,255);
  text-decoration: none;
}

footer li a:hover {
  border-bottom: 1px dotted rgb(255,255,255);
}

/* MAILCHIMP SIGN-UP FORM
============================================================*/

#mc_embed_signup form {
  position: relative;
  text-align: center;
  /* width: 680px; */
  margin:0 auto;
  height: auto;
  overflow: auto;
}

footer #mc_embed_signup form {
  margin-bottom: 20px;
}

#mc_embed_signup input {
  -webkit-appearance: none;
  position: relative;
  margin:0;
  margin-bottom: 20px;
  padding: 10px;
  width: 450px;
  height: 30px;
  border: 0 none;
  border-bottom: 1px solid rgb(179,179,179);
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(153,153,153); 
  font-size: 22px;
  font-weight: 200;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  outline: none;
}

footer #mc_embed_signup input {
  border-bottom: 1px solid rgb(255,255,255);
  color: rgb(255,255,255); 
  background: none;
  font-size: 18px;
  margin-bottom: 10px;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: rgb(179,179,179);
}

footer ::-webkit-input-placeholder { /* WebKit browsers */
  color: rgb(255,255,255);
  opacity: 0.5;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgb(179,179,179);
}

footer :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgb(255,255,255);
  opacity: 0.5;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgb(179,179,179);
}

footer ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgb(255,255,255);
  opacity: 0.5;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgb(179,179,179) !important;
}

footer :-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgb(255,255,255) !important;
  opacity: 0.5;
}

#mc_embed_signup .button {
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  padding: 14px 20px;
  margin-top: 20px;
  border: 0 none;
  border-radius: 10px;
  width: auto;
  height: auto;
  cursor: pointer;
  color: rgb(63,124,215);
  border: 1px solid rgb(63,124,215);
  background: none;
  font-family: "Raleway", sans-serif;
  color: rgb(63,124,215); 
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: center;
  outline: none;
}

footer #mc_embed_signup .button {
  color: rgb(255,255,255);
  border: 1px solid rgb(255,255,255);
  font-size: 14px;
  margin: 10px 0;
}

/* MEDIA QUERY - 1024PX
============================================================*/

@media (max-width:1024px){

  .about.hero {
    background-image: url('/assets/hero_mit_1024.png');
  }

  .blog.hero {
    background-image: url('/assets/hero_desk_1024.png');
  }

  .careers.hero {
    background-image: url('/assets/hero_huddle_1024.png');
  }

  .contact.hero {
    background-image: url('/assets/hero_lights_1024.png');
  }

  .home.hero {
    background-image: url('/assets/hero_football_1024.png');
  }

  .news.hero {
    background-image: url('/assets/hero_hockey_1024.png');
  }

}

/* MEDIA QUERY - 900PX
============================================================*/

@media (max-width:900px){

  .tile {
    width: 100%;
    margin: 20px auto;
    padding: 0;
  }

}

/* MEDIA QUERY - 768PX
============================================================*/

@media (max-width:625px){

  .about.hero {
    background-image: url('/assets/hero_mit_768.png');
  }

  .blog.hero {
    background-image: url('/assets/hero_desk_768.png');
  }

  .careers.hero {
    background-image: url('/assets/hero_huddle_768.png');
  }

  .contact.hero {
    background-image: url('/assets/hero_lights_768.png');
  }

  .home.hero {
    background-image: url('/assets/hero_football_768.png');
  }

  .news.hero {
    background-image: url('/assets/hero_hockey_768.png');
  }

}

/* MEDIA QUERY - 625PX
============================================================*/

@media (max-width:625px){

  h1 {  
    font-size: 24px;
    margin-bottom: 20px;
  }

  h2 {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 20px;
    width: 80%;
  }

  h3 {  
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
  }

  h4 {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .hero {
    padding: 50px 0;
  }

  .section img.icon {
    width: 40px;
  }

  #mc_embed_signup input {
    width: 80%;
    font-size: 20px;
  }

}

/* MEDIA QUERY - 490PX
============================================================*/

@media (max-width:490px){

  #mc_embed_signup input {
    margin-bottom: 10px;
  }

  nav.right li {
    margin-left: 5px;
  }

  footer li {
    margin: 10px 2px;
    font-size: 12px;
    color: rgb(255,255,255);
  }

  .section {
    padding: 30px 0;
  }

  .vms, .mass, .arch {
    margin: 0 auto;
    display: block;
  }

  .mass {
    margin: 20px auto;
  }

}