<footer>
	<div class="container">
		<div class="row">
			<div class="col-2">
				<a target="_blank" href="https://itunes.apple.com/us/app/jolt-sensor/id1024700678?mt=8">Jolt on iOS</a>
				<a target="_blank" href="https://play.google.com/store/apps/details?id=com.joltsensor.app_android&hl=en">Jolt on Android</a>
				<a href="/support/setup">Quick Start Guide</a>
				<a href="/support">Support</a>
			</div>
			<div class="col-2 right">
				<a target="_blank" href="http://facebook.com/joltsensor"><img src="/assets/icons/social/facebook.svg"/></a>
				<a target="_blank" href="http://twitter.com/joltsensor"><img src="/assets/icons/social/twitter.svg"/></a>
				<a target="_blank" href="http://instagram.com/joltsensor"><img src="/assets/icons/social/instagram.svg"/></a>
			</div>
		</div>
		<div class="row gray">
			<div class="col-1">
				<a href="/">© Jolt Athletics, Inc.</a>
				<a href="/about">About</a>
				<a href="/press">Press</a>
				<a href="/contact">Contact</a>
			</div>
		</div>
	</div>
</footer>