<div class="banner">
	<a style="cursor: pointer;" data-celery="joltsensor"><div class="promobar">Ready to #PlaySmarter this season? Use code "KICKOFF" to save 20%. Offer ends 9/30.</div></a>
	<script type="text/javascript" src="https://www.trycelery.com/js/celery.js"></script>
	<header>
		<div class="wrapper">
			<nav class="left">
				<a href="/">
					<img src="/assets/logos/jolt-circle-neon.svg"/>
				</a>
			</nav>
			<nav class="right">
				<li><a href="/how-it-works">How It Works</a></li>
				<a href="/shop">
					<button data-celery="joltsensor">Order Now</button>
					<script type="text/javascript" src="https://www.trycelery.com/js/celery.js"></script>
				</a>
			</nav>
		</div>
	</header>
</div>