<div class="col-12 center">
	<a href="mailto:?subject=" target="_blank"><img class="circle no-bottom social email" src="/assets/icons/general/email-white.svg"/></a>
	<a href="http://www.facebook.com/sharer/sharer.php?u=http://www.joltsensor.com{{ page.url }}" target="_blank"><img class="circle no-bottom social facebook" src="/assets/icons/social/facebook-white.svg"/></a>
	<a href="http://twitter.com/intent/tweet?text=New%20blog%20post%20by%20@joltsensor%20--%20%22{{ page.title | replace: ' ', '%20' | replace: '</br>', ' ' }}%22%20http://www.joltsensor.com{{ page.url }}" target="_blank"><img class="circle no-bottom social twitter" src="/assets/icons/social/twitter-white.svg"/></a>
	<a href="/feed.xml" target="_blank"><img class="circle no-bottom social rss" src="/assets/icons/social/rss-white.svg"/></a>
</div>