<div class="col-12 center">
	<a href="mailto:contact@joltsensor.com"><img class="circle no-bottom social email" src="/assets/icons/general/email-white.svg"/></a>
    <a href="http://facebook.com/joltsensor"><img class="circle no-bottom social facebook" src="/assets/icons/social/facebook-white.svg"/></a>
    <a href="http://twitter.com/joltsensor"><img class="circle no-bottom social twitter" src="/assets/icons/social/twitter-white.svg"/></a>
    <a href="/feed.xml"><img class="circle no-bottom social rss" src="/assets/icons/social/rss-white.svg"/></a>
</div>