<h2>Share This Post</h2>
<div class="icon shell">
    <a href="http://www.facebook.com/sharer/sharer.php?u=http://www.joltsensor.com{{ page.url }}">
    	<div class="icon holder">
      		<img src="/assets/icons/social/facebook.png"/>
    	</div>
    </a>
    <li>Share on Facebook</li>
</div>
<div class="icon shell">
    <a href="http://twitter.com/intent/tweet?text=New%20blog%20post%20by%20@joltsensor%20--%20%22{{ page.title | replace: ' ', '%20' | replace: '</br>', ' ' }}%22%20http://www.joltsensor.com{{ page.url }}">
    	<div class="icon holder">
      		<img src="/assets/icons/social/twitter.png"/>
    	</div>
    </a>
    <li>Share on Twitter</li>
</div>
<div class="icon shell">
    <a href="/feed.xml">
    	<div class="icon holder">
      		<img src="/assets/icons/social/rss.png"/>
    	</div>
    </a>
    <li>Jolt Blog RSS feed</li>
</div>