---
layout: default
title: About Jolt - Better concussion detection through real-time head impact tracking
---

<div id="hero" style="background-image:url('/assets/heros/process_02.jpg');">
  <div class="screen dark">
    <div class="content center">
      <h1>Finding insights at the intersection of sports and science</h1>
    </div>
  </div>
</div>
<div class="section">
  <div class="content">
    <div class="row">
      <div class="column col-6">
        <h2 class="no-top">Our Story</h2>
        <p class="no-bottom justify">
          Jolt was born out of necessity. During his junior year at MIT, founder Ben Harvatine suffered a nasty concussion at wrestling practice. It went unnoticed until he had suffered additional impacts, resulting in a much more severe injury. Following a long painful recovery process, he wired up his wrestling headgear with sensors for an engineering lab class and headed back to the mat determined to develop a solution that would prevent others from having the same experience that he did.
        </p>
      </div>
      <div class="column col-6">
        <h2 class="no-top">Our Mission</h2>
        <p class="no-bottom justify">
          Jolt is on a mission to help athletes train smarter and safer through innovative technology solutions. We aim to provide highly-functional and intuitive products that provide athletes, parents, and coaches real-time feedback, and enable them to make smarter more timely decisions. 
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Section break -->

<div class="section dark">
  <div class="content center">
    <h2 class="no-top">Management Team</h2>
    <div class="col-6 center">
      <img class="circle border team" src="/assets/team_ben.jpg"/>
      <h3 class="no-bottom">Ben Harvatine</h3>
      <p class="no-bottom no-top">Founder &amp; CEO</p>
      <p class="no-bottom">MIT Mechanical Engineering &amp; Architecture, management experience at Anheuser-Busch InBev</p>
    </div>
    <div class="col-6 center">
      <img class="circle border team" src="/assets/team_jon.jpg"/>
      <h3 class="no-bottom">Jonathan Lin</h3>
      <p class="no-bottom no-top">VP Technology</p>
      <p class="no-bottom">MIT Electrical Engineering &amp; Computer Science, previously Technical Lead at ReDigi</p>
    </div>
  </div>
</div>
<div class="section">
  <div class="content center">
    <h2 class="no-top">Partners &amp; Investors</h2>
    <div class="col-2 center">
      <a href="http://vms.mit.edu" target="_blank">
        <img class="circle padded partner" src="/assets/icons/partners/mit.svg"/>
      </a>
    </div>
    <div class="col-2 center">
      <a href="http://archgrants.org" target="_blank">
        <img class="circle padded partner" src="/assets/icons/partners/archgrants.svg"/>
      </a>
    </div>
    <div class="col-2 center">
      <a href="http://masschallenge.org" target="_blank">
        <img class="circle padded partner" src="/assets/icons/partners/masschallenge.svg"/>
      </a>
    </div>
    <div class="col-2 center">
      <a href="/walloffame" target="_blank">
        <img class="circle padded partner" src="/assets/icons/partners/kickstarter.svg"/>
      </a>
    </div>
    <div class="col-2 center">
      <a href="http://techstars.com" target="_blank">
        <img class="circle padded partner" src="/assets/icons/partners/techstars.svg"/>
      </a>
    </div>
    <div class="col-2 center">
      <a href="http://sprintaccel.com" target="_blank">
        <img class="circle padded partner" src="/assets/icons/partners/sprint.svg"/>
      </a>
    </div>
  </div>
</div>
<div class="section blue">
  <div class="screen">
    <div class="content center">
      <div class="col-12">
        <h2>WE VALUE...</h2>
      </div>
      <div class="col-4">
        <h3 class="no-top">COMMUNICATION</h3>
        <p class="no-top no-bottom">Be direct, honest, and transparent. No bullshit. No drama.</p>
      </div>
      <div class="col-4">
        <h3 class="no-top">TEAMWORK</h3>
        <p class="no-top no-bottom">We rise and fall as a team. We neither succeed, nor fail, as individuals.</p>
      </div>
      <div class="col-4">
        <h3 class="no-top">COMMITMENT</h3>
        <p class="no-top no-bottom">No matter what, we do what it takes to get the job done. And we do it right.</p>
      </div>
      <div class="col-4">
        <h3 class="no-top">RESILIENCE</h3>
        <p class="no-top no-bottom">When problems arise, we focus on solutions and keep moving forward.</p>
      </div>
      <div class="col-4">
        <h3 class="no-top">EFFICIENCY</h3>
        <p class="no-top no-bottom">Stay focused, act decisively, and get shit done. We work smarter, not harder.</p>
      </div>
      <div class="col-4">
        <h3 class="no-topß">BALANCE</h3>
        <p class="no-top no-bottom">Don't forget to have fun. All work and no play makes Jolt a dull company.</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="content">
    <h2>Working at Jolt</h2>
    <p>We're a small team of engineers and athletes who work hard and play harder. We tackle big problems at a rapid pace, but always keeps things relaxed and fun. Sound like your kind of place? Check out the current job openings below. If you don't see the perfect spot for you, don't hesitate to shoot us your resume and a quick note at <a href="mailto:jobs@joltsensor.com">jobs@joltsensor.com</a>, and we'll keep you in mind for future openings, or we may even create a new position just for you. We're always on the lookout for the next great addition to our team.</p>
  </div>
</div>
<div class="section dark">
  <div class="content center">
    <div class="col-12 center">
        <img class="circle padded border spec" src="/assets/icons/general/nosymbol.svg"/>
        <p>We don't have any open positions right now</p>
    </div>
    <!--{% for job in site.data.jobs %}
      <div class="col-12 center">
        <img class="circle padded border spec" src={% if job.type == "Mobile Developer" %}"/assets/icons/general/phone.png"{% elsif job.type == "Web Developer" %}"/assets/icons/general/monitor.png"{% elsif job.type == "Business" %}"/assets/icons/general/briefcase.png"{% elsif job.type == "Communication" %}"/assets/icons/general/megaphone.png"{% elsif job.type == "Mechanical Engineer" %}"/assets/icons/general/gear.png"{% elsif job.type == "Electrical Engineer" %}"/assets/icons/general/chip.png"{% elsif job.type == "Designer" %}"/assets/icons/general/palette.png"{% endif %}/>
        <a href="mailto:jobs@joltsensor.com?subject={{ job.position }}"><h3>{{ job.position }}</h3></a>
        <p>{{ job.hours }} in {{ job.location }}</p>
        <p>{{ job.description }}</p>
        <p>{{ job.qualifications }}</p>
      </div>
    {% endfor %}-->
  </div>
</div>