---
layout: default
title: Jobs at Jolt - Better concussion detection through real-time head impact tracking
---

<div id="wrapper">
  <div class="hero" style="background-image: url('/assets//heros/hero_desk_1400.jpg');">
    <div class="content"></div>
  </div> <!-- End of hero shell -->
  <div class="section shell">
    <div class="section contents">
      <h1 class="notop">Working at Jolt</h1>
      <p>
        We're a small team of engineers and athletes who like to work hard and play hard. Our highly collaborative group tackles big problems at a rapid pace, but always keeps things relaxed and fun. Sound like your kind of place? Check out the current job openings below. If you don't see the perfect spot for you, don't hesitate to shoot us your resume and a quick note at <a href="mailto:careers@joltsensor.com">careers@joltsensor.com</a>, and we'll keep you in mind for future openings (or, if you're that awesome, maybe we'll even create a special position just for you).
      </p>
      <h2>Current Openings</h2>
      {% if site.data.jobs == null %}
        <div class="icon shell">
            <div class="icon holder">
              <img src="/assets/icons/general/nosymbol.png"/>
            </div>
            <div class="icon text">
              We don't have any open positions right now
            </div>
        </div>
      {% else %}
        {% for job in site.data.jobs %}
          <div class="icon shell">
            <div class="icon holder">
              <img src={% if job.type == "Mobile Developer" %}"/assets/icons/general/phone.png"{% elsif job.type == "Web Developer" %}"/assets/icons/general/monitor.png"{% elsif job.type == "Business" %}"/assets/icons/general/briefcase.png"{% elsif job.type == "Communication" %}"/assets/icons/general/megaphone.png"{% elsif job.type == "Mechanical Engineer" %}"/assets/icons/general/gear.png"{% elsif job.type == "Electrical Engineer" %}"/assets/icons/general/chip.png"{% elsif job.type == "Designer" %}"/assets/icons/general/palette.png"{% endif %}/>
            </div>
            <li><a href={{ job.link }}>{{ job.position }}</a> in {{ job.city }}</li>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div> <!-- End of section -->