---
layout: default
title: Blog
---
<div class="empty hero" style="background-image: url('/assets/hero_desk_1400.jpg');">
	<div class="screen">
		<h1 class="nobottom">JOLT BLOG</h1>
	</div>
</div>
<!-- End of hero -->
<div class="section">
	{% for post in site.categories.blog %}
    	{% assign author = site.data.authors[post.author] %}
		{% if author %}
			<div class="press">
	      		<p class="info">{{ post.date || date:"%m/%d/%Y" }} - <a href=/people/{{ author.permalink | downcase }}>{{ author.name }}</a> in <a href=/blog/{{ post.category | downcase }}>{{ post.category }}</a></p>
	      		<p class="title"><a href="{{ post.url }}">{{ post.title | replace: "</br>", " " }}</a></p>
	    	</div>
	    {% endif %}
  	{% endfor %}
</div>
<!-- End of section -->