<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>About Jolt</title>
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="icon" type="image/png" href="/assets/favicon.ico">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300" rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-48252918-1', 'joltsensor.com');
          ga('send', 'pageview');
        </script>
    </head>
    <body>
      <header>
        <nav class="left">
          <a href="/">
            <li><img src="/assets/icon_jolt_blue.png"/></li>
            <li>JOLT</li>
          </a>
        </nav>
        <nav class="right">
          <li><a class="active" href="/about">ABOUT</a></li>
          <li>&middot;</li>
          <li><a href="/news">NEWS</a></li>
          <li>&middot;</li>
          <li><a href="/blog">BLOG</a></li>
        </nav>
      </header>
      <!-- End of header -->
      <div class="wrapper">
        <div class="about hero">
          <h1 class="nobottom">ABOUT US</h1>
        </div>
        <!-- End of hero -->
        <div class="section">
          <p>Jolt is dedicated to ensuring that each and every youth athlete receives proper care immediately following a sports-related brain injury. We aim to provide highly-functional and intuitive products that enable parents and coaches to monitor the health of their children and act decisively in the moments following an injury.</p>
          <p>Ben, our Founder & CEO, began work on Jolt at MIT as an undergraduate, following his own rather severe concussion. It's a concussion that was made worse by the fact that it wasn't immediately recognized as one, exposing his brain to additional dangerous impacts when it was most vulnerable. This is a common problem for over thirty million youth athletes in the United States. Many of their own dangerous head impacts also go unnoticed and undiagnosed, leading to numerous short and long-term health consequences.</p>
          <p>This is a problem that Jolt solves through a wearable impact sensor. By objectively quantifying the number and severity of head impacts experienced by athletes, parents and coaches can monitor their children in real time, to ensure that they never miss a dangerous impact.</br></br></p>
          <div class="team tile">
            <img class="headshot" src="/assets/team_ben.png"/>
            <h3>BEN HARVATINE</h3>
            <h4>Founder & CEO</h4>
            <p style="text-align:center">Previously at AB InBev & ARES</br>MIT MechE 2012</p>
          </div>
          <div class="team tile">
            <img class="headshot" src="/assets/team_seth.png"/>
            <h3>SETH BERG</h3>
            <h4>Co-Founder</h4>
            <p style="text-align:center">Previously at NetApp & Xerox</br>MIT EECS 2014</p>
          </div>
          <div class="team tile">
            <img class="headshot" src="/assets/team_dog.png"/>
            <h3>JOIN US</h3>
            <h4>You could be this happy</h4>
            <p style="text-align:center">Check out our <a href="/careers">Careers</a> page</br>for exciting opportunities</p>
          </div>
        </div>
        <!-- End of section -->
        <div class="logo section">
          <a href="http://vms.mit.edu"><div class="vms"></div></a>
          <a href="http://masschallenge.org"><div class="mass"></div></a>
          <a href="http://archgrants.org"><div class="arch"></div></a>
        </div>
        <!-- End of logo section -->
        <footer>
          <h4>Want to learn more? Subscribe to our mailing list for the latest updates, promotions, and development news.</h4>
          <div id="mc_embed_signup">
            <form action="http://joltsensor.us3.list-manage.com/subscribe/post?u=30b31dec2dac04ee2d025ff98&amp;id=fb4cff7c0c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
              <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_30b31dec2dac04ee2d025ff98_fb4cff7c0c" value="">
              </div>
              <div class="clear"><input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </form>
          </div>
          <!-- End of sign-up form -->
          <a href="/"><img class="icon" src="/assets/icon_jolt_white.png"/></a>
          </br>
          <li><a href="/about">ABOUT</a></li>
          <li>&middot;</li>
          <li><a href="/news">NEWS</a></li>
          <li>&middot;</li>
          <li><a href="/blog">BLOG</a></li>
          <li>&middot;</li>
          <li><a href="/careers">CAREERS</a></li>
          <li>&middot;</li>
          <li><a href="/contact">CONTACT</a></li>
          </br>&copy; 2014, Jolt Sensors LLC
        </footer>
      </div>
      <!-- End of wrapper -->
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
    
</html>
