<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Jolt Careers</title>
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="icon" type="image/png" href="/assets/favicon.ico">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300" rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-48252918-1', 'joltsensor.com');
          ga('send', 'pageview');
        </script>
    </head>
    <body>
      <header>
        <nav class="left">
          <a href="/">
            <li><img src="/assets/icon_jolt_blue.png"/></li>
            <li>JOLT</li>
          </a>
        </nav>
        <nav class="right">
          <li><a href="/about">ABOUT</a></li>
          <li>&middot;</li>
          <li><a href="/news">NEWS</a></li>
          <li>&middot;</li>
          <li><a href="/blog">BLOG</a></li>
        </nav>
      </header>
      <div class="wrapper">
        <div class="hero" style="background-image: url('/assets/hero_crash.png');">
          <h1>CONTACT JOLT</h1>
          <h2>We're not on Snapchat</h2>
        </div>
        <!-- End of hero -->
        <div class="section">
          <h3>LIKE US ON FACEBOOK</h3>
          <h4><a href="http://www.facebook.com/joltsensor">facebook.com/joltsensor</a></br></h4>
          <h3 style="margin-top:30px">FOLLOW US ON TWITTER</h3>
          <h4><a href="http://www.twitter.com/joltsensor">twitter.com/joltsensor</a></h4>
          <h3 style="margin-top:30px">GENERAL INQUIRIES</h3>
          <h4><a href="mailto:contact@joltsensor.com">contact@joltsensor.com</a></h4>
          <h3 style="margin-top:30px">PRESS INQUIRIES</h3>
          <h4><a href="mailto:press@joltsensor.com">press@joltsensor.com</a></h4>
          <h3 style="margin-top:30px">CAREER INQUIRIES</h3>
          <h4><a href="mailto:careers@joltsensor.com">careers@joltsensor.com</a></h4>
        </div>
        <!-- End of section -->
        <footer>
          <a href="/"><img class="icon" src="/assets/icon_jolt_white.png"/></a>
          </br>
          <li><a href="/about">ABOUT</a></li>
          <li>&middot;</li>
          <li><a href="/news">NEWS</a></li>
          <li>&middot;</li>
          <li><a href="/blog">BLOG</a></li>
          <li>&middot;</li>
          <li><a href="/careers">CAREERS</a></li>
          <li>&middot;</li>
          <li><a href="/contact">CONTACT</a></li>
          </br>&copy; 2014, Jolt Sensors LLC
        </footer>
      </div>
      <!-- End of wrapper -->
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
    
</html>
