---
layout: default
---
<div id="hero" style="background-image: url('{{ page.hero }}');">
	<div class="screen">
    	<div class="content center">
    		<span class="heading">{{ page.title }}</span>
    	</div>
  	</div>
</div>
<div id="wrapper">
  	<div class="section">
    	<div class="content">
			<div  class="article">
				{% assign author = site.data.authors[page.author] %}
				{% if author %}
				<h4 class="dark">Posted by <a href=/people/{{ author.permalink | downcase }}>{{ author.name }}</a> in <a href=/blog/{{ page.category | downcase }}>{{ page.category }}</a> on {{ page.date | date: "%B %-d, %Y" }}</h4>
				{% endif %}
				{{ content }}
				{% include share-tile.html %}
			</div>
		</div>
	</div>
	<div class="section dark">
    	<div class="content">
			<div  class="article">
				{% include author-bio.html %}
			</div>
		</div>
	</div>